LeetCode - Introduction to Pandas

https://leetcode.com/problems/create-a-new-column/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

# 2881. Create a New Column

**Difficulty:** Easy  

---

DataFrame `employees`
| Column Name | Type   |
|-------------|--------|
| `name`      | object |
| `salary`    | int    |

A company plans to provide its employees with a bonus.

Write a solution to create a new column named **bonus** that contains the **doubled values** of the `salary` column.

The result format is shown in the following example.




---

### Example 1:

#### Input:
**DataFrame employees**  
| name      | salary  |
|-----------|---------|
| Piper     | 4548    |
| Grace     | 28150   |
| Georgia   | 1103    |
| Willow    | 6593    |
| Finn      | 74576   |
| Thomas    | 24433   |

#### Output:
| name      | salary  | bonus   |
|-----------|---------|---------|
| Piper     | 4548    | 9096    |
| Grace     | 28150   | 56300   |
| Georgia   | 1103    | 2206    |
| Willow    | 6593    | 13186   |
| Finn      | 74576   | 149152  |
| Thomas    | 24433   | 48866   |

---

### Explanation:
A new column **bonus** is created by **doubling the value** in the `salary` column.

---

In [5]:
# solution
import pandas as pd

employee_1 = ["Piper", 4548]
employee_2 = ["Grace", 28150]
employee_3 = ["Georgia", 1103]
employee_4 = ["Willow", 6593]
employee_5 = ["Finn", 74576]
employee_6 = ["Thomas", 24433]

employer = [employee_1, employee_2, employee_3, employee_4, employee_5, employee_6]

column_names = ["name", "salary"]

employer_df = pd.DataFrame(employer, columns = column_names)

In [6]:
employer_df["bonus"] = employer_df["salary"] * 2

In [7]:
print(employer_df)

      name  salary   bonus
0    Piper    4548    9096
1    Grace   28150   56300
2  Georgia    1103    2206
3   Willow    6593   13186
4     Finn   74576  149152
5   Thomas   24433   48866

In [8]:
# LeetCode submission
import pandas as pd
from typing import List  # Import List for type hinting

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees["salary"] * 2
    return employees

In [9]:
# testing
employee_1 = ["Piper", 4548]
employee_2 = ["Grace", 28150]
employee_3 = ["Georgia", 1103]
employee_4 = ["Willow", 6593]
employee_5 = ["Finn", 74576]
employee_6 = ["Thomas", 24433]

employer = [employee_1, employee_2, employee_3, employee_4, employee_5, employee_6]

column_names = ["name", "salary"]

employer_df = pd.DataFrame(employer, columns = column_names)

In [11]:
result = createBonusColumn(employer_df)
print(result)

      name  salary   bonus
0    Piper    4548    9096
1    Grace   28150   56300
2  Georgia    1103    2206
3   Willow    6593   13186
4     Finn   74576  149152
5   Thomas   24433   48866