LeetCode - Introduction to Pandas

https://leetcode.com/problems/modify-columns/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

# 2884. Modify Columns

### Input:
**DataFrame** `employees`
| Column Name | Type   |
|-------------|--------|
| name        | object |
| salary      | int    |
|-------------|--------|

A company intends to give its employees a pay rise.

Write a solution to **modify** the `salary` column by multiplying each salary by 2.

The result format is as shown in the example.

---

### Example 1:
**Input:**
```plaintext
DataFrame employees
+----------+--------+
| name     | salary |
+----------+--------+
| Jack     | 19666  |
| Piper    | 74754  |
| Mia      | 62509  |
| Ulysses  | 54866  |
+----------+--------+

Output:
+---------+--------+
| name    | salary |
+---------+--------+
| Jack    | 39332  |
| Piper   | 149508 |
| Mia     | 125018 |
| Ulysses | 109732 |
+---------+--------+

Explanation:
Every salary has been doubled.

In [4]:
import pandas as pd 

data = {
    "name" : ["Jack", "Piper", "Mia", "Ulysses"],
    "salary" : [19666, 74754, 62509, 54866]
}

df = pd.DataFrame(data)

print(df)

      name  salary
0     Jack   19666
1    Piper   74754
2      Mia   62509
3  Ulysses   54866

In [5]:
df["salary"] = df["salary"] * 2

In [6]:
print(df)

      name  salary
0     Jack   39332
1    Piper  149508
2      Mia  125018
3  Ulysses  109732

In [7]:
# LeetCode submission
import pandas as pd
from typing import List  # Import List for type hinting

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees["salary"] = employees["salary"] * 2
    return employees

In [8]:
data = {
    "name" : ["Jack", "Piper", "Mia", "Ulysses"],
    "salary" : [19666, 74754, 62509, 54866]
}

df = pd.DataFrame(data)

result = modifySalaryColumn(df)
print(result)

      name  salary
0     Jack   39332
1    Piper  149508
2      Mia  125018
3  Ulysses  109732

: