LeetCode - Introduction to Pandas

https://leetcode.com/problems/change-data-type/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

## 2886. Change Data Type

Difficulty: Easy

---

**DataFrame** `students`  
| Column Name | Type   |
|-------------|--------|
| id          | int    |
| first       | object |
| last        | object |
| age         | int    |

Write a solution to correct the errors:

The `grade` column is stored as floats, convert it to integers.

The result format is in the following example.

### Example 1:
**Input:**

DataFrame `students`:

| student_id | name | age | grade |
|------------|------|-----|-------|
| 1          | Ava  | 6   | 73.0  |
| 2          | Kate | 15  | 87.0  |

**Output:**

| student_id | name | age | grade |
|------------|------|-----|-------|
| 1          | Ava  | 6   | 73    |
| 2          | Kate | 15  | 87    |

**Explanation:**

The data types of the column `grade` is converted to `int`.

---

In [8]:
# solution
import pandas as pd

data = {
    'student_id' : [1,2],
    'name' : ["Ava", "Kate"],
    'age' : [6, 15],
    'grade' : [73.0, 87.0]
}

df = pd.DataFrame(data)

print(df)
print(df.dtypes)

   student_id  name  age  grade
0           1   Ava    6   73.0
1           2  Kate   15   87.0
student_id      int64
name           object
age             int64
grade         float64
dtype: object

In [7]:
df = df.astype({'grade': 'int'})
print(df)

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     87

In [33]:
# LeetCode submission
import pandas as pd
from typing import List 

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    # to cast columns individually, which works on all pandas versions
    students['grade'] = students['grade'].astype(int)
    return students

In [36]:
# testing
data = {
    "student_id" : [1,2],
    "name" : ["Ava", "Kate"],
    "age" : [6, 15],
    "grade" : [73.0, 78.0]
}

df = pd.DataFrame(data)

changeDatatype(df)

print(df)

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     78

In [69]:
# another version
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students = students.astype({'grade': 'int'})
    return students

In [71]:
# testing
data = {
    "student_id" : [1,2],
    "name" : ["Ava", "Kate"],
    "age" : [6, 15],
    "grade" : [73.0, 78.0]
}

df = pd.DataFrame(data)

df = changeDatatype(df)

print(df)

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     78