LeetCode - Introduction to Pandas

https://leetcode.com/problems/rename-columns/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

## 2885. Rename Columns

Difficulty: Easy

---

**DataFrame** `students`  
| Column Name | Type   |
|-------------|--------|
| id          | int    |
| first       | object |
| last        | object |
| age         | int    |

---

Write a solution to rename the columns as follows:

- `id` to `student_id`
- `first` to `first_name`
- `last` to `last_name`
- `age` to `age_in_years`

The result format is in the following example.

---

### Example 1:

**Input:**

| id | first   | last     | age |
|----|---------|----------|-----|
| 1  | Mason   | King     | 6   |
| 2  | Ava     | Wright   | 7   |
| 3  | Taylor  | Hall     | 16  |
| 4  | Georgia | Thompson | 18  |
| 5  | Thomas  | Moore    | 10  |

**Output:**

| student_id | first_name | last_name | age_in_years |
|------------|------------|-----------|--------------|
| 1          | Mason      | King      | 6            |
| 2          | Ava        | Wright    | 7            |
| 3          | Taylor     | Hall      | 16           |
| 4          | Georgia    | Thompson  | 18           |
| 5          | Thomas     | Moore     | 10           |

**Explanation:**

The column names are changed accordingly.

---

In [17]:
# solution
import pandas as pd

data = {
    'id' : [1,2,3,4,5],
    'first' : ["Mason", "Ava", "Taylor", "Georgia", "Thomas"],
    'last' : ["King", "Wright", "Hall", "Thompson", "Moore"],
    'age' : [6, 7, 16, 18, 10]    
}

df = pd.DataFrame(data)

print(df)

   id    first      last  age
0   1    Mason      King    6
1   2      Ava    Wright    7
2   3   Taylor      Hall   16
3   4  Georgia  Thompson   18
4   5   Thomas     Moore   10

In [18]:
df.rename(columns = {"id": "student_id", "first" : "first_name", "last": "last_name", "age": "age_in_years"}, inplace = True) # inplace = True modifies existing DataFrame directly. 
# If you omit it(or inplace = False) df.rename returns a new DataFrame without altering the original. 

print(df)

   student_id first_name last_name  age_in_years
0           1      Mason      King             6
1           2        Ava    Wright             7
2           3     Taylor      Hall            16
3           4    Georgia  Thompson            18
4           5     Thomas     Moore            10

In [19]:
# LeetCode submission
import pandas as pd
from typing import List  # Import List for type hinting

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.rename(columns = {"id": "student_id", "first" : "first_name", "last": "last_name", "age": "age_in_years"}, inplace = True)
    return students

In [20]:
# testing
data = {
    'id' : [1,2,3,4,5],
    'first' : ["Mason", "Ava", "Taylor", "Georgia", "Thomas"],
    'last' : ["King", "Wright", "Hall", "Thompson", "Moore"],
    'age' : [6, 7, 16, 18, 10]    
}

df = pd.DataFrame(data)

renameColumns(df)
print(df)

   student_id first_name last_name  age_in_years
0           1      Mason      King             6
1           2        Ava    Wright             7
2           3     Taylor      Hall            16
3           4    Georgia  Thompson            18
4           5     Thomas     Moore            10