LeetCode - Introduction to Pandas

https://leetcode.com/problems/reshape-data-concatenate/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

## 2888. Resahpe Data: Concatenate

Difficulty: Easy

---

DataFrame `df1`

| Column Name | Type   |
|-------------|--------|
| student_id  | int    |
| name        | object |
| age         | int    |

---

DataFrame `df2`

| Column Name | Type   |
|-------------|--------|
| student_id  | int    |
| name        | object |
| age         | int    |

Write a solution to concatenate these two DataFrames **vertically** into one DataFrame.  
The result format is shown in the following example:

---

### Example 1

Input:
**df1**
| student_id | name    | age |
|------------|---------|-----|
| 1          | Mason   | 8   |
| 2          | Ava     | 6   |
| 3          | Taylor  | 15  |
| 4          | Georgia | 17  |

**df2**
| student_id | name | age |
|------------|------|-----|
| 5          | Leo  | 7   |
| 6          | Alex | 7   |

Output:
| student_id | name    | age |
|------------|---------|-----|
| 1          | Mason   | 8   |
| 2          | Ava     | 6   |
| 3          | Taylor  | 15  |
| 4          | Georgia | 17  |
| 5          | Leo     | 7   |
| 6          | Alex    | 7   |

**Explanation:**  
The two DataFrames are stacked vertically, and their rows are combined.

---

In [1]:
# solution
import pandas as pd

data_1 = {
    'student_id' : [1,2,3,4],
    'name' : ["Mason", "Ava", "Taylor", "Georgia"],
    'age' : [8, 6, 15, 17]
}

data_2 = {
    'student_id' : [5,6],
    'name' : ["Leo","Alex"],
    'age' : [7,7]
}

df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

print(df_1)
print(df_2)

   student_id     name  age
0           1    Mason    8
1           2      Ava    6
2           3   Taylor   15
3           4  Georgia   17
   student_id  name  age
0           5   Leo    7
1           6  Alex    7

In [4]:
df_3 = pd.concat([df_1, df_2], axis = 0) # Concatenate rows

# concatenate columns:
# df_3 = pd.concat([df_1, df_2], axis = 1)

print(df_3)

   student_id     name  age
0           1    Mason    8
1           2      Ava    6
2           3   Taylor   15
3           4  Georgia   17
0           5      Leo    7
1           6     Alex    7

In [8]:
# LeetCode submission
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    # Concatenates df2 below df1 (row-wise)
    concatenatedDf = pd.concat([df1, df2], axis = 0)
    return concatenatedDf

In [10]:
# testing
data_1 = {
    'student_id' : [1,2,3,4],
    'name' : ["Mason", "Ava", "Taylor", "Georgia"],
    'age' : [8, 6, 15, 17]
}

data_2 = {
    'student_id' : [5,6],
    'name' : ["Leo","Alex"],
    'age' : [7,7]
}

df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

concatenate_df = concatenateTables(df_1, df_2)
print(concatenate_df)

   student_id     name  age
0           1    Mason    8
1           2      Ava    6
2           3   Taylor   15
3           4  Georgia   17
0           5      Leo    7
1           6     Alex    7