LeetCode - Introduction to Pandas

# 2879. Display the First Three Rows
https://leetcode.com/problems/display-the-first-three-rows/description/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata

**Difficulty:** Easy  

## Problem Statement
Given a `DataFrame` named **employees**, write a solution to display the **first 3 rows** of this DataFrame.

### DataFrame Schema:
| Column Name    | Type   |
|----------------|--------|
| `employee_id`  | int    |
| `name`         | object |
| `department`   | object |
| `salary`       | int    |

### Example 1:

#### Input:
**DataFrame employees**  
| employee_id | name       | department           | salary |
|-------------|------------|----------------------|--------|
| 3           | Bob        | Operations           | 48675  |
| 90          | Alice      | Sales                | 11096  |
| 9           | Tatiana    | Engineering          | 33805  |
| 60          | Annabelle  | InformationTechnology| 37678  |
| 49          | Jonathan   | HumanResources       | 23793  |
| 43          | Khaled     | Administration       | 40454  |

#### Output:
| employee_id | name    | department  | salary |
|-------------|---------|-------------|--------|
| 3           | Bob     | Operations  | 48675  |
| 90          | Alice   | Sales       | 11096  |
| 9           | Tatiana | Engineering | 33805  |

#### Explanation:
Only the **first 3 rows** are displayed.

---

In [3]:
# solution
import pandas as pd
from typing import List  # Import List for type hinting

In [7]:
employee_1 = [3, "Bob", "Operations", 48675]
employee_2 = [90, "Alice", "Sales", 11096]
employee_3 = [9, "Tatiana", "Engineering", 33805]
employee_4 = [60, "Annabelle", "InformationTechnology", 37678]
employee_5 = [49, "Jonathan", "HumanResources", 23793]
employee_6 = [43, "Khaled", "Administration", 40454]

employers = [employee_1, employee_2, employee_3, employee_4, employee_5, employee_6]
column_names = ["employee_id", "name", "department", "salary"]

employer_df = pd.DataFrame(employers, columns = column_names)

In [8]:
employer_df.head(3)

   employee_id     name   department  salary
0            3      Bob   Operations   48675
1           90    Alice        Sales   11096
2            9  Tatiana  Engineering   33805

In [10]:
# LeetCode submission
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

   employee_id     name   department  salary
0            3      Bob   Operations   48675
1           90    Alice        Sales   11096
2            9  Tatiana  Engineering   33805

In [11]:
result = selectFirstRows(employer_df)
print(result)

   employee_id     name   department  salary
0            3      Bob   Operations   48675
1           90    Alice        Sales   11096
2            9  Tatiana  Engineering   33805